*{
	padding: 0px;
	margin: 0px;
	font-family: segoe UI;
}
::-webkit-scrollbar {width: 16px; cursor: pointer; }
::-webkit-scrollbar-thumb {background-color: #8A2A2A;border:3px solid #FFFFFF;}
::-webkit-scrollbar-thumb:hover{background: #AC0202;}
::-webkit-scrollbar-thumb:active{background: #BC0404;}
body{
	background-image: url("../bg/loginsiswa.jpg");
	background-attachment: fixed;
}
#atas{
	width: 100%;
	height: 70px;
	left: 0px;
	float: left;
	top: 0px;
}
#atas #namal{
	height: 90px;
	float: left;
	width: 250px;
	margin: 0px -15px;
	background-image: url("../bg/nm.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#atas #namal h1{
	float: left;
	color: #22313F;
	font-size: 20px;
	margin: 25px 20px; 
}
#menuic{
	width: 70px;
	height: 70px;
	float: left;
	cursor: pointer;
	margin: 8px 20px;
	transition-propety:all;
	transition-duration:0.3s;
}
#menust1{
	width: 30px;
	height: 3px;
	margin: 20px auto 0px auto;
	background-color: #3f3d3d;
	transition-propety:all;
	transition-duration:0.3s;
}
#menust2{
	width: 30px;
	height: 3px;
	margin: 7px auto 0px auto;
	background-color: #3f3d3d;
}
#menust3{
	width: 30px;
	height: 3px;
	margin: 7px auto 0px auto;
	background-color: #3f3d3d;
	transition-propety:all;
	transition-duration:0.3s;
}
#menu{
	width: 250px;
	height: 0px;
	position: absolute;
	float: left;
	background-color: transparent;
	overflow: hidden;
	margin: 70px 0px;
	transition-propety:all;
	transition-duration:0.3s;
}
#menu-ul{
	width: 100%;
	height: 50px;
	margin: 0px;
	float: left;
	cursor: pointer;
	background-color: #2d2828;
}
#menu-ul p{
	color: #fff;
	margin: 15px;
	font-weight: bolder;
}
#menu-ul:hover{
	background-color: RGB(20,20,20);
}
#fot{
	width: 100%;
	height: 80px;
	float: left;
	margin: 5px 0px 0px 0px;
}
#fot h2{
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin: 30px 0px;
}
#fot p{
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: #fff;
	margin-top: -20px;
	margin-bottom: 20px;
}
#logo{
	width: 280px;
	height: 50px;
	margin: 10px 530px;
}
#logo img{
	width: 100%;
	height: 100px;
}
#kon{
	width: 100%;
	float: left;
	min-height: 400px;
}
#tkbh{
	width: 800px;
	min-height: 372px;
	padding: 10px;
	margin: 30px 0px 0px 260px;
}
#ltk{
	width: 300px;
	height: 400px;
	margin: 10px 45px;
	background-image: url("../bg/conten.png");
	float: left;
	background-size: 100% 100%;
	cursor: pointer;
	transition-propety:all;
	transition-duration:0.3s;
}
#ltk h2{
	color: #22313F;
	font-size: 25px;
	text-align: center;
	margin: 110px auto 0px;
}
#ltk img{
	width: 100px;
	height: 100px;
	margin: 20px 90px;
}
#ltk p{
	width: 90%;
	margin: 7px auto;
	text-align: center;
	color: #22313F;
	font-weight: bolder;
	font-size: 14px;
}
#bgbox{
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	display: none;
	position: fixed;
	background-color: RGBA(0,0,0,0.7);
}

#bgbox1{
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	display: none;
	position: fixed;
	background-color: RGBA(0,0,0,0.7);
}
#frme{
	width: 400px;
	height: 420px;
	border-radius: 2px; 
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 50px auto;
	padding: 10px;
}
#frme1{
	width: 400px;
	height: 340px;
	border-radius: 2px; 
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 50px auto;
	padding: 10px;
}
#jdlf{
	width: 100%;
	height: 40px;
	background-color: #2d97d8;
}
#jdlf h1{
	font-size: 19px;
	color: #fff;
	margin: 5px;
	float: left;
}
#frme p{
	font-weight: bolder;
	color: #22313F;
	margin: 10px 15px;
}
#frme input[type="text"],select{
	width: 98%;
	height: 35px;
	border: 1px solid #ddd;
	text-indent: 5px;
}
#frme1 p{
	font-weight: bolder;
	color: #22313F;
	margin: 10px 15px;
}
#frme1 input[type="text"],select{
	width: 98%;
	height: 35px;
	border: 1px solid #ddd;
	text-indent: 5px;
}
#lnjt{
	cursor: pointer;
	margin: 15px 5px 0px 15px;
	border: 1px solid #337AB7;
	background-color: #337AB7;
}
#lnjt p{
	color: #fff;
}
#btl{
	cursor: pointer;
	margin: 15px 0px;
	border: 1px solid #F0AD4E;
	background-color: #F0AD4E;
}
#btl p{
	color: #fff;
}
#cvm{
	width: 100%;
	margin-top: 50px;
	height: 390px;
}
#ktk-pa{
	width: 220px;
	height: 300px;
	background-image: url("../bg/conten.png");
	background-size: 100% 100%;
	float: left;
	margin: 20px 23px;
	cursor: pointer;
	transition-propety:all;
	transition-duration:0.3s;
}
#ktk-pa h2{
	color: #22313F;
	font-size: 19px;
	margin: 90px 0px 0px;
	text-align: center;
}
#ktk-pa p{
	text-align: center;
}
#ktk-pa img{
	width: 90px;
	height: 90px;
	margin: 10px 70px 0px;
}
#konten{
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 430px;
	margin: 10px 0px;
	float: left;
	width: 100%;
}
#mapel{
	border-bottom: 1px solid #ddd;
}
#mapel h3{
	color: #22313F;
	margin: 10px 0px 0px 10px;
	font-size: 20px;
}
#mapel p{
	margin:10px;
}
#no{
	width: 50px;
	height: 40px;
	background-color: #0b4d7c;
	border-radius: 5px;
	margin: -65px auto 15px;
}
#no p{
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 20px 0px;
}
#soal{
	width: 90%;
	float: left;
	height: auto;
	padding: 5px;
	margin: 10px 0px 50px 10px;
}
#soal p{
	margin: 15px;
}

#jwb{
	width: 90%;
	padding: 2px;
	margin: 0px 0px 0px 10px;
	float: left;
}
#abj{
	float: left;
	background-color: #1072bc;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#abj:hover{
	background-color: #bece10;
}
#abj p{
	color: #fff;
	text-align: center;
	font-weight: bolder;
}
#jwb h3{
	font-weight: 300;
	font-size: 15px;
	float: left;
	margin: 0px 10px;
}
#pnjwb{
	width: 110px;
	height: 50px;
	padding: 5px;
	background-color: #1072BC;
	position: fixed;
	z-index: 9999;
	right: 0px;
	top: 90px;
	cursor: pointer;
	transition-property:all;
	transition-duration:0.3s;
}
#pnjwb:hover{
	background-color: #0b4d7c;
}
#pnjwb p{
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	margin: 5px 0px;
}
#jwbn-ttp{
	position: fixed;
	z-index: 9999;
	right: -441px;
	width: 430px;
	padding: 5px;
	height: 600px;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 30px;
	overflow: auto;
	transition-property:all;
	transition-duration:0.3s;
}
#jwbn-al{
	width: 60px;
	height: 60px;
	float: left;
	border: 1px solid #543E3E;
	margin: 10px 10px;
}
#jwbn-al p{
	color: #22313F;
	font-weight: bolder;
	font-size: 20px;
	margin: 10px 0px;
	text-decoration: none;
	text-align: center;
}
#no-jwb{
	width: 100%;
	height: 30px;
	float: left;
	background-color: #0b4d7c;
}
#no-jwb p{
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: 0px;
	font-size: 16px;
	font-weight: bolder;
}
#jd-jwbn{
	width: 100%;
	height: 80px;
	float: left;
	background-color: #fff;
}
#jd-jwbn span{
	float: left;
	padding: 5px 10px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
}
#jd-jwbn h2{
	text-align: center;
	color: #22313F;
}
#jd-jwbn h3{
	color: #22313F;
	text-align: center;
}
#ixs{
	width: 100%;
	height: 440px;
	overflow: auto;
}
#slse{
	background-color: #286090;
	border: 1px solid #286090;
	width: 400px;
	padding: 15px;
	margin: 10px 0px 0px 10px;
}
#slse img{
	width: 25px;
	height: 20px;
}
#slse p{
	font-size: 20px;
	color: #fff;
}
#waktu{
	float: right;
	width: 200px;
	height: 60px;
	margin: -70px 180px 0px 0px;
}
#waktu span{
	float: left;
	margin: 19px 0px;
}
#jm{
	width: 40px;
	height: 50px;
	margin: 5px 0px;
	float: left;
}
#jm p{
	text-align: center;
	font-size: 21px;
	color: #22313F;
	font-weight: bolder;
}
#loading{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	top: 0px;
	left: 0px;
	display: none;
	background-color: #ddd;
}
#tenga{
	width: 200px;
	height: 200px;
	margin: 100px auto;
}
#load{
	width: 90%;
	height: 90%;
	margin: 0px auto;
	border-radius: 2000px;
	border: 5px solid #2f4687;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:3s;
	animation-iteration-count:infinite;
}
#load2{
	width: 80%;
	height: 80%;
	margin: 7%;
	border-radius: 2000px;
	border: 5px solid #e5d520;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:2.5s;
	animation-iteration-count:infinite;
}
#load3{
	width: 80%;
	height: 80%;
	margin: 7%;
	border-radius: 2000px;
	border: 5px solid #d61d1d;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:2s;
	animation-iteration-count:infinite;
}
#h1lad{
	text-align: center;
	margin-top: 80px;
	font-weight: normal;
	color: #22313F;
	animation-name: klip;
	animation-duration:2s;
	animation-iteration-count:infinite;
}
#hilo{
	width: 0px;
	overflow: hidden;
	margin: -20px auto;
	color: #5546c4;
	animation-name: tx;
	animation-duration:2s;
	animation-iteration-count:infinite;
}
#nom{
	margin: 20px auto;
	text-align: center;
	color: red;
}
#jawaban_abc{
	width: 300px;
	height: 40px;
	margin: 50px 0px 0px 0px;
	bottom: 0px;
}
#jwbab{
	width: 40px;
	height: 40px;
	float: left;
	background-color: #1072BC;
	margin: 0px 5px;
	border-radius: 200px;
	cursor: pointer;
	transition-property:all;
	transition-duration:0.2s;
}
#jwbab p{
	text-align: center;
	font-size: 19px;
	margin: 5px;
	font-weight: bold;
	color: #fff;
}
#jwbab:hover{
	background-color: #BECE10;
}
#soal_pag{
	margin: 50px auto 0px;
	width: 100%;
	height: 40px;
}
#soal_seb{
	width: 180px;
	height: 40px;
	background-color: #4dce3b;
	float: left;
	cursor: pointer;
}
#soal_seb p{
	color: #fff;
	font-size: 16px;
	margin: 8px auto;
	text-align: center;
}
#soal_sel{
	width: 180px;
	height: 40px;
	margin-top: -40px;
	background-color: #4dce3b;
	float: right;
	cursor: pointer;
}
#soal_sel p{
	color: #fff;
	font-size: 16px;
	margin: 8px auto;
	text-align: center;
}
#ragu{
	width: 180px;
	height: 40px;
	background-color: #f7e309;
	margin: 0px auto;
}
#ragu input[type="checkbox"]{
	width: 20px;
	cursor: pointer;
	height: 20px;
	margin: 10px;
	float: left;
}
#ragu p{
	font-weight: bold;
	color: #22313F;
	float: left;
	margin: 8px 5px;
}
	#smn{
		float: left;
		width: 100%;
		min-height: 485px;
		margin: 40px 0px;
	}
	#menu-peringkat{
		width: 90%;
		height: 40px;
		margin: 10px auto;
	}
	#per{
		width: 200px;
		height: 40px;
		float: left;
		background-image: url("../bg/bgmen.png");
		background-size: 100% 100%;
		cursor: pointer;
	}
	#per p{
		text-align: center;
		color: #fff;
		margin: 7px auto;
		font-size: 16px;
		font-weight: bold;
	}
	#pera{
		width: 200px;
		height: 40px;
		margin: 0px auto;
		background-image: url("../bg/bgmen2.png");
		background-size: 100% 100%;
		cursor: pointer;
	}
	#pera p{
		text-align: center;
		color: #fff;
		float: left;
		width: 100%;
		margin: 7px auto;
		font-size: 16px;
		font-weight: bold;
	}
	#nil{
		width: 200px;
		height: 40px;
		float: right;
		margin-top: -40px;
		background-image: url("../bg/bgmen3.png");
		background-size: 100% 100%;
		cursor: pointer;
	}
	#nil p{
		text-align: center;
		color: #fff;
		margin: 7px auto;
		font-size: 16px;
		font-weight: bold;
	}
	#smn h1{
		width: 100%;
		float: left;
		text-align: center;
	}
	table{
		width: 90%;
		margin: 10px auto;
	}
	#table{
		width: 90%;
		margin: 15px auto;
		text-align: center;
	}
	#table th{
		background-color: #286090;
		color: #fff;
		height: 40px;
	}
	#table td{
		height: 30px;
		font-size: 12px;
		border-bottom: 1px solid #ddd; 
	}
	#cmt{
		width: 90px;
		height: 35px;
		cursor: pointer;
		background-color: #7451c1;
		border: 1px solid #7451c1;
	}
	#cmt p{
		color: #fff;
		font-weight: bold;
	}
	#hiden{
		display: none;
		width: 100%;
	}
@keyframes bunder{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@keyframes tx{
	0%{width: 0px;}
	100%{width: 150px;}
}
@keyframes klip{
	0%{color: #22313F;}
	20%{color: #e5d520;}
	50%{color: #d61d1d;}
	70%{color: #1c1e23;}
	100%{color: #22313F;}
}