*{
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI;
}
body{
	background-image: url("../bg/loginsiswa.jpg");
}
#avg{
	width: 100%;
	margin: 0px 0px;
	height: 110px;
	background-color: rgba(255,255,255,0.5);
}
#avg #nms{
	margin-left: 20px;
	float: left;
}
#avg #nms h2{
	color: #2a72bb;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#avg #nms h1{
	color: #2a72bb;
	font-size: 30px;
	margin-top: -5px;
}
#avg #nms p{
	color: #2a72bb;
	font-size: 15px;
}
#ft{
	float: left;
	width: 100%;
	margin: 5% 0px 0px;
	height: 110px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.5);	
}
#ft h1{
	color: #28136E;
	font-size: 15px;
	width: 100%;
	float: left;
	margin-top: 30px;
	font-weight: normal;
	text-align: center;
}
#ft p{
	text-align: center;
	font-size: 15px;
	width: 100%;
	font-weight: normal;
	color: #28136E;
	margin-top: 5px;
	float: left;
	margin-bottom: 20px;
}
#login{
	width: 400px;
	height: 380px;
	float: right;
	margin-right: 10%;
	margin-top: 50px;
	background-image: url("../bg/kk.png");
	border-radius: 5px;
	background-size: 100% 100%;
}
.pesan{	
	margin-top: 60px;
}
.pesan .icon img{
	float: left;
	margin-left:150px;
	margin-top: -20px;
	width:200px;
	height: 200px;
}
.pesan .icon1 img{
	float: right;
	width:210px;
	margin-right: 100px;
	height: 210px;
	margin-top: -200px;
}
.pesan .merah{
	color: #2a72bb;
	font-size: 70px;
	margin-left: 200px;
	font-family:'Kalam', cursive;
	
}
.pesan .oren{
	color:  #f36931;
	font-size: 50px;
	font-family: 'Contrail One', cursive;
	margin-left: 10px;
}
.pesan h1{
	color: #fff;
	font-size: 40px;
	font-family:  'Arial';
	margin-top: 5px;
	text-align: center;
}
.pesan .sub-pesan{
	color: #2a72bb;
	font-family: 'Kalam', cursive;
	font-size: 20px;
}
.pesan .subpesan1{
	color: #fff;
	font-family: 'Kalam', cursive;
	font-size: 20px;
}
.pesan .logon img{

}
.pesan .logon{
	float: left;
	margin-left: 300px;
	margin-top: -150px;
}
.pesan .bawah-logo{
	float: left;
	margin-left: 200px;
}
#icon{
	width: 260px;
	height: 80px;
	float: right;
	margin: 5px auto 0px;
	margin-right: 120px;
}
#sekolah_logo{
	width: 90px;
	height: 90px;
	float: left;
	margin: 7px auto 0px;
	margin-left: 120px;
}
#judullog{
	width: 100%;
	height: 60px;
	float: left;
	background-color: transparent;
}
#judullog h1{
	width: 100%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	margin: 20px 0px;
}
#icon-text{
	width: 40px;
	height: 40px;
	float: left;
	background-image: url("../bg/sol.png");
	border-bottom: 2px solid #ddd;
	margin-left: 50px;
	margin-top: 140px;
}
#icon-text img{
	width: 20px;
	height: 20px;
	margin: 10px;
}
#login input[type="text"]{
	width: 250px;
	height: 40px;
	float: left;
	outline: none;
	border: 0px;
	border-bottom: 2px solid #ddd;
	font-size: 12px;
	margin-top: 140px;
	text-indent: 17px;
}
#icon-textp{
	width: 40px;
	height: 40px;	
	background-image: url("../bg/sol.png");
	border-bottom: 2px solid #ddd;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}
#icon-textp img{
	width: 20px;
	height: 20px;
	margin: 10px;
}
#login input[type="password"]{
	width: 250px;
	outline: none;
	height: 40px;
	border: 0px;
	border-bottom: 2px solid #ddd;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	text-indent: 17px;
}
#login input[type="submit"]{
	width: 300px;
	height: 50px;
	margin: 20px 50px;
	background-color: #F2672E;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	border: 0px solid transparent;
	transition-property:all;
	transition-duration:0.4s;
}
#login input[type="submit"]:hover{
	background-color: #d65c2c;
}