*{
		margin: 0px;
		padding: 0px;
		font-family: Segoe UI;
	}
	#judul{
		width: 100%;
		text-align: center;
		margin: 20px 0px;
		font-size: 40px;
		color: #22313F;
	}
	#table{
		width: 500px;
		margin: 10px auto;
	}
	table{
		margin: 10px auto;
		font-size: 20px;
	}
	body{
		background-image: url("../bg/loginsiswa.jpg");
		background-attachment: fixed;
	}
	.h1{
		margin: 0px;
		text-align: center;
		font-size: 120px;
	}
	table td span{
		font-size: 40px;
		color: #22313F;
	}
	h2{
		font-size: 40px;
		font-weight: normal;
	}
	#keluar{
		width: 120px;
		height: 40px;
		margin: 20px auto;
		cursor: pointer;
		background-color: #513ebc;
	}
	#keluar h1{
		font-size: 25px;
		font-weight: normal;
		border-radius: 2px;
		cursor: pointer;
		text-align: center;
		color: #fff;
	}
	#axe{
		width: 800px;
		height: 350px;
		margin: 10px auto;
	}
	#axe #kon{
		width: 300px;
		height: 350px;
		float: left;
		margin: 0px 50px;
		background-image: url("../bg/conten.png");
		background-size: 100% 100%;
	}
	#h1{
		width: 100%;
		text-align: center;
		color: #22313F;
		margin-top: 105px;
	}