@media screen and (max-width: 1330px){
	.pesan .icon img{
		
	}
	.pesan .icon1 img{
		float: right;
		width:210px;
		margin-right: -5px;
		height: 210px;
		margin-top: -200px;
	}
}
@media screen and (max-width: 1210px){
	.pesan .icon img{
		
	}
	.pesan .icon1 img{
		float: right;
		width:210px;
		margin-right: -5px;
		height: 210px;
		margin-top: -200px;
	}
}
@media screen and (max-width: 1206px){
	.pesan .icon img{
		
	}
	.pesan .icon1 img{
		float: right;
		width:210px;
		margin-right: -5px;
		height: 210px;
		margin-top: -200px;
	}
}
@media screen and (max-width: 1024px){
	#logo{
		margin: 10px auto;
	}	
	#tkbh{
		margin: 30px 0px 0px 100px;
	}
	.pesan .icon img{
		float: left;
		margin-left:150px;
		margin-top: -20px;
		width:200px;
		height: 200px;
	}
	.pesan .icon1 img{
		float: right;
		width:210px;
		margin-right: px;
		height: 210px;
		margin-top: -200px;
	}
}
@media screen and (max-width:800px){
	#tkbh{
		width: 100%;
		padding: 0px;
		margin: 30px auto;
	}
	#ltk{
		width: 300px;
		height: 400px;
		margin: 10px 5%;
		float: left;
	}
	#waktu{
		float: right;
		width: 200px;
		height: 60px;
		margin: -70px 70px 0px 0px;
	}
	.pesan .icon img{
		float: left;
		margin-left:150px;
		margin-top: -20px;
		width:200px;
		height: 200px;
	}
	.pesan .icon1 img{
		float: right;
		width:210px;
		margin-right: 100px;
		height: 210px;
		margin-top: -200px;
	}
}
@media screen and (max-width:750px){
	#ltk{
		width: 300px;
		height: 400px;
		margin: 10px auto;
		float: none;
	}
	#ltk h2{
		width: 100%;
		float: left;
		color: #22313F;
		font-size: 25px;
		text-align: center;
		margin: 110px auto 0px;
	}

	#menu-peringkat{
		height: 120px;
	}
	#per{
		width: 100%;
		height: 40px;
		float: left;
		margin: 5px 0px;
		background-color: #5f5fdd;
		cursor: pointer;
	}
	#pera{
		width: 100%;
		height: 40px;
		float: left;
		background-color: #c9c924;
		cursor: pointer;
	}
	#nil{
		width: 100%;
		height: 40px;
		float: left;
		margin: 0px;
		margin: 5px 0px;
		background-color: #c9384e;
		cursor: pointer;
	}
	#table th{
		font-size: 12px;
	}
	#table td{
		font-size: 10px;
	}
	
	#mapel h3{
		font-size: 15px;
	}
	#mapel p{
		margin:6px;
	}
	#jm p{
		font-size: 15px;
	}
	#waktu span{
		float: left;
		margin: 10px 0px;
	}
	#waktu{
		width: 150px;
		margin: -50px 90px 0px 0px;
	}
	#no{
		width: 40px;
		height: 30px;
		background-color: #0b4d7c;
		border-radius: 5px;
		margin: -50px auto 15px;
	}
	#no p{
		color: #fff;
		text-align: center;
		font-size: 20px;
	}
}
@media screen and (max-width:500px){
	#no{
		float: left;
	}
	#mapel h3{
		margin-left: 60px;
	}
	#mapel p{
		margin-left:60px;
	}
	#no{
		margin-left: 10px;
		margin-top: -45px;
	}
	#no p{
		margin: 0px;
	}
	#waktu{
		float: left;
		margin-top: -15px;
		margin-left: 50px;
	}
	#jm p{
		margin: 8px;
	}
	#mapel{
		height: 90px;
	}
	#soalx p{
		font-size: 13px;
		margin-top: 5px;
	}
}
@media screen and (max-width:400px){
	#logo{
		width: 200px;
		height: 82px;
	}
	#logo img{
		height: 82px;
	}
	#ltk{
		width: 90%;
		height: 400px;
		margin: 10px auto;
	}
	#ltk h2{
		width: 100%;
		float: left;
		color: #22313F;
		font-size: 25px;
		text-align: center;
		margin: 110px auto 0px;
	}
	#ltk img{
		width: 120px;
		height: 120px;
		margin: 20px auto;
	}
	#tam{
		display: none;
	}
	#table th{
		font-size: 10px;
	}
	#hiden{
		width: 100%;
		display: block;
	}
}