.proses{
	border: 0px;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
}
#pmbr{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	color: #888;
}
.backup{
	padding: 10px 20px;
	background-color: #305ec1;
	border: 1px solid #305ec1;
	color: #fff;
	cursor: pointer;
	margin-top: 50px;
}
.hps{
	padding: 10px 20px;
	color: #fff;
	background-color: #b72d2d;
	border: 1px solid #b72d2d;
	margin-top: 50px;
	cursor: pointer;
}
#pem{
	width: 100%;
	text-align: center;
	color: #22313F;
	font-size: 15px;
}
.bg-lg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0px;
	left: 0px;
}
#tenga{
	width: 250px;
	height: 290px;
	padding-top: 30px;
	margin: 100px auto;
	background-color: #fff;
}
#load{
	width: 70%;
	height: 60%;
	margin: 0px auto;
	border-radius: 2000px;
	border: 5px solid #2f4687;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:3s;
	animation-iteration-count:infinite;
}
#load2{
	width: 80%;
	height: 70%;
	margin: 12% 7%;
	border-radius: 2000px;
	border: 5px solid #e5d520;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:2.5s;
	animation-iteration-count:infinite;
}
#load3{
	width: 80%;
	height: 70%;
	margin: 12% 7%;
	border-radius: 2000px;
	border: 5px solid #d61d1d;
	border-top-color: transparent;
	border-bottom-color: transparent;
	animation-name: bunder;
	animation-duration:2s;
	animation-iteration-count:infinite;
}
#tenga p{
	width: 100%;
	text-align: center;
	margin-top: 40px;
	font-size: 17px;
}
@keyframes bunder{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}