<style>
*{
	font-family: 'Segoe UI';
	margin: 0;
	padding: 0;
}
body{
	background-color: #2C363F;
}
#gambar{
	margin-top: 100px;
	width: 320px;
	height: 100px;
}
#gambar img{
	width: 320px;	
	height: 100px;
}
#login{
	padding-top: 30px;
	margin-top: 10px;
	width: 400px;
	border-top: 1px solid #262d33;
}
#login h6{
	margin-top: 70px;
	color: #999999;
}
input[type="text"]{
	width: 70%;
	height: 40px;
	text-indent: 50px;
	outline: none;
	color: #999999;
	border: 2px solid #eee;
	border-bottom: 0px;
	box-shadow: 0px -1px 5px 1px #222930;
	background-image: url("../../bg/bgtext.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain; 
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
input[type="password"]{
	width: 70%;
	height: 40px;
	text-indent: 50px;
	outline: none;
	color: #999999;
	border: 2px solid #eee;
	border-top: 0px;
	box-shadow: 0px 3px 5px 0px #222930;
	background-image: url("../../bg/bgtext2.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain; 
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
input[type="text"]:focus, input[type="password"]:focus{
	
}
input[type="submit"]{
	margin-top: 15px;
	width: 100%;
	background-color: #2ABC68;
	height: 40px;
	border: 0px;
	border: 1px solid #227544;
	border-radius: 3px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus{
	transition-duration:0.4s;
	background-color: #24a55a;
	outline: none;
}
</style>