*{
	margin: 0; 
	padding: 0;
	font-family: Segoe UI;
}
body{
	background-color: #EEEEEE;
}
a{
	text-decoration: none;
}
#header{
	height: 60px;
	width: 80%;
	float: left;
	margin-left: 20%;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
#header #kanan{
	width: 200px;
	float: right;
}
#header #kanan img{
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 20px 10px;
}
#header #kanan p{
	float: left;
	width: 100px;
	text-align: right;
	color: #776b72;
	font-weight: normal;
	margin: 18px 0px;
}
#menu{
	height: 100%;
	width: 270px;
	background-color: #25272F;
	position: fixed;
	float: left;
}
#menu #logo{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #141518;
}
#menu #logo img{
	width: 60%;
	height: 50px;
	margin: 2px 20%;
}
#menu #userlogin{
	width: 100%;
	background-color: #1E1F26;
	float: left;
	margin-bottom: 20px;
	height: 190px;
}
#menu #userlogin img{
	width: 80px;
	height: 80px;
	margin: 20px 100px 10px;
	float: none;
	border-radius: 100px;
	background-color: #25262b;
}
#menu #userlogin h2{
	color: #cdcdd3;
	text-transform: uppercase;
	margin: 0px;
	width: 100%;
	text-align: center;
	font-size: 16px;
}
#menu #userlogin p{
	color: #60616b;
	text-transform: capitalize;;
	margin: 10px 0px;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
ul{
	float: left;
	margin-top: 0px;
}
li{
	padding: 8px 10px;
	list-style: none;
	font-size: 13px;
	width: 230px;
	text-transform: capitalize;
	cursor: pointer;
	color: #dde0e1;
	margin-left: 10px;
	margin-right: 10px;
}
li img{
	width: 20px;
	height: 20px;
}
li:hover{
	background-color: #2E303C;
	transition-duration: 0.6s;
}
#content{
	margin: 5px;
	width: 75%;
	float: left;
	padding: 25px;
	margin-left: 280px;
	position: relative;
	min-height: 300px;
	background-color: #FFFFFF;
}
#content .top{
	width: 100%;
	border-bottom: 1px solid #ddd;
	height: 55px;
}
#content .top .kiri{
	float: left;
	width: auto;
}
#content .top .kiri p{
	float: left;
	font-weight: bold;
	font-size: 25px;
	color: #767472;
	margin: 13px 0px 0px 10px;
}
#content .top .kiri img{
	float: left;
	height: 50px;
	height: 30px;
	margin: 13px 0px 0px 10px;
}
#content .top .kiri input[type="button"]{
	padding: 8px 13px 8px 13px;
	color: #FFFFFF;
	margin: 12px 0px 0px 20px;
	border: none;
	background-color: #cd3636;
	cursor: pointer;
	border-radius: 2px;
}
#content .top .kiri input[type="button"]:hover{
	background-color: #c22121;
	transition-duration:0.7s;
}
#content .top .kanan{
	float: right;
	width: auto;
}
#content .top .kanan input[type="text"]{
	border: 1px solid #ddd;
	width: 200px;
	height: 35px;
	margin: 12px 20px 0px 0px;
	text-indent: 10px;
	color: #999;
	font-size: 13px;
}
#content .top .kanan input[type="text"]:focus{
	border: 1px solid #077cd7;
}
#content .bawah{
	margin: 10px;
	width: 97%;
	min-height: 400px;
}
table{
	font-size: 13px;
	margin-top: 20px;
	width: 100%;
	border-spacing: 0;
}
table img{
	display: none;
}

table tr th{
	height: 40px;
	color: #FFFFFF;
	text-indent: 10px;
	text-align: left;
	background-color: #07292d;
}
table tr td{
	height: 30px;
	color: #2b2c2c;
	text-indent: 10px;
	text-align: left;
	border-bottom: 1px solid #4A7DB1;
}
table tr:hover{
	transition-duration:0.7s;
	background-color: #eff3f3;
}
table tr td .hapus{
	text-decoration: none;
	color: #F00;
}
table tr td .edit{
	text-decoration: none;
	color: #1e8759;
}
table tr td .edit:hover, table tr td .hapus:hover{
	text-decoration: underline;
}
.logo{
	display: block;
	margin: 5px;
	float: left;
}
#paging{
	width: 100%;
	margin-top: 15px; 
}
#paging input[type="button"]{
	float: right;
	padding: 5px 10px 5px 10px;
	border: none;
	margin: 5px;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	background-color: #077cd7;
}
#paging input[type="button"]:hover{
	background-color: #1a77ad;
	transition-duration:0.7s;
}
form{
	margin: 10px;
	margin-top: 20px;
}
form p{
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 13px;
}
form input[type="text"], form select, input[type="password"], input[type="date"]{
	height: 30px;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 7px;
	border-radius: 2px;
	margin-bottom: 10px;
}
form input[type="text"]:focus, input[type="password"]:focus, form select:focus, form textarea:focus, input[type="date"]:focus{
	border: 1px solid #6879d6;
}
form textarea{
	height: 80px;
	border-radius: 2px;
	padding: 5px 0px 5px 0px;
	outline: none;
	border: 1px solid #ccc;
	text-indent: 5px;
	margin-bottom: 10px;
}
form input[type="radio"]{
	outline: none;
	text-indent: 5px;
	margin-bottom: 10px;	
}
form .pan{
	width: 90%;
}
form .med{
	width: 65%;
}
form .pen{
	width: 30%;
}
form input[type="submit"]{
	margin: 20px 0px 0px 10px;
	padding: 10px 20px 10px 20px;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	background-color: #077cd7;
}
form input[type="submit"]:hover{
	background-color: #1a77ad;
	transition-duration:0.7s;
}
#btn{
	float: right;
	padding: 5px 10px 5px 10px;
	border: none;
	margin: 5px;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	background-color: #077cd7;
}
#beranda{
	float: left;
	margin: 5px 0px 0px 5px;
	width: 240px;
	height: auto;
	cursor: pointer;
}
#beranda:hover{
	transition-duration: 0.6s;
	background-color: #eff2f2;
}
#beranda .ata{
	width: 100%;
	height: 100px;
	float: left;
}
#beranda .ata h1{
	float: left;
	width: 50%;
	color: #fff;
	font-size: 35px;
	margin: 10px 15px 0px
}
#beranda .ata p{
	float: left;
	color: #fff;
	margin: 0px 15px 0px;
	font-weight: 300;
}
#beranda .ata img{
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-top: -45px;
}
#beranda .baw{
	width: 100%;
	bottom: 0;
	padding: 8px 0px;
	left: 0;
	float: left;
}
#beranda .baw h6{
	text-align: center;
	color: #fff;
	font-weight: normal;
}
#tek{
	padding: 10px;
	margin: 20px 0px 40px 5px;
	font-weight: bold;
	border-left: 5px solid #077cd7;
}

#clear{
	clear: both;
}
#tambh{
	padding: 10px 20px 10px 20px;
	border: none;
	width: 50px;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
	background-color: #077cd7;
}
#aff{
	padding: 9px 20px;
	float: left;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #4b4ba3;
	background-color: #4b4ba3;
	margin: 10px 0px;
}
#afx{
	padding: 9px 20px;
	float: left;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #cc1212;
	background-color: #cc1212;
	margin: 10px;
}
#nama_guru{
	float: left;
	width: 200px;
	text-indent: 4px;
	font-size: 17px;
	margin: 10px;
	height: 34px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
#car{
	padding: 9px 20px;
	float: left;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid #4b4ba3;
	background-color: #4b4ba3;
}
#id_mapel{
	text-indent: 5px;
	width: 180px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#id_tes{
	text-indent: 5px;
	width: 180px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#id_romb{
	text-indent: 5px;
	width: 180px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#kelas{
	text-indent: 5px;
	width: 180px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#exim{
	width: 200px;
	height: 40px;
	float: right;
	margin: 10px 0px;
}
#exim #export{
	width: 42%;
	height: 30px;
	float: left;
	background-color: #4d57c1;
	margin: 5px;
	cursor: pointer;
}
#exim #export p{
	color: #fff;
	text-align: center;
	margin: 5px;
	font-size: 13px;
	font-weight: bold;
}
#exim #import{
	width: 42%;
	height: 30px;
	float: left;
	cursor: pointer;
	background-color: #d0d326;
	margin: 5px;
}
#exim #import p{
	color: #fff;
	text-align: center;
	margin: 5px;
	font-size: 13px;
	font-weight: bold;
}
#bxx{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	z-index: 9999;
	top: 0px;
	display: none;
	background-color: rgba(0,0,0,0.7);
}
#frm-im{
	width: 400px;
	height: 100px;
	margin: 100px auto;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0px #3a7c49;
}
#frm-im h1{
	width: 100%;
	font-size: 20px;
	color: #22313F;
}
#frm-im span{
	float: right;
	margin-top: -25px;
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #aaa;
	cursor: pointer;
}
#frm-im input[type="file"]{
	width: 65%;
	height: 20px;
	padding: 10px;
	margin: 0px;
	float: left;
	background-color: #ddd;
}
#frm-im input[type="submit"]{
	float: left;
	margin: 0px;
	height: 40px;
}
#gr{
	width: 700px;
	margin-top: 20px;
	float: left;
}
#pencarian-grafik{
	width: 269px;
	border: 1px solid #ddd;
	height: auto;
	float: left;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-top: 20px;
}
#jdl-gr{
	width: 100%;
	height: 40px;
	background-color: #22313F;
}
#jdl-gr p{
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}
#jdl-gr img{
	width: 30px;
	height: 30px;
	margin: 5px;
	float: left;
}
#dlm-gr p{
	margin: 5px 10px;
}
#dlm-gr select{
	width: 100%;
	height: 35px;
	text-indent: 7px;
	border: 1px solid #ddd;
}
#dlm-gr input[type="text"]{
	width: 100%;
	height: 35px;
	text-indent: 7px;
	font-style: italic;
	border: 1px solid #ddd;
}
#dlm-gr input[type="submit"]{
	margin-top: 10px;
}
.aktv{
	color: #5014e8;
	cursor: pointer;
}
.aktv:hover{
	color: #7c54ea;
	text-decoration: underline;
}
.liaktv{
	cursor: pointer;
	color: #f88e1b;
}
.liaktv:hover{
	text-decoration: underline;
}
.bg-all{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.bg-dlm{
	width: 400px;
	height: auto;
	padding: 20px;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 4px;
}
.bg-dlm h1{
	font-size: 30px;
	color: #22313F;
	font-weight: 400;
	border-bottom: 1px solid #777;
	padding-bottom: 10px;
}
.bg-dlm h3{
	width: 20px;
	height: 28px;
	padding: 5px 10px;
	text-align: center;
	color: #fff;
	margin-right: -50px;
	cursor: pointer;
	margin-top: -90px;
	font-weight: normal;
	float: right;
	border: 5px solid #fff;
	border-radius: 100px;
	background-color: red;
}
.bg-dlm select{
	width: 90%;
	height: 40px;
}